body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #000;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.about {
  text-align: center;
  padding: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.controls input, select {
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  position: relative;
}

.card img{
  width:100%;
  height:280px;
  object-fit:cover;
  border-radius:10px;
}
.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: #fff;
  padding: 4px 6px;
  font-size: 12px;
}

.price del {
  color: #888;
}

.off {
  color: green;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
