body{
  font-family:Arial;
  margin:0;
  background:#f5f5f5;
}

header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#000;
  color:#fff;
}

nav a{
  color:#fff;
  margin-left:15px;
  text-decoration:none;
}

#search{
  width:95%;
  margin:15px auto;
  display:block;
  padding:10px;
}

#cart-items button{
  background:red;
  color:white;
  border:none;
  border-radius:50%;
  padding:2px 6px;
  cursor:pointer;
  margin-left:10px;
}

#book-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:15px;
}

.card{
  background:#fff;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:8px;
}

button{
  margin-top:10px;
  padding:8px 15px;
  border:none;
  background:black;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.about{
  display:none;
  padding:30px;
  background:#111;
  color:white;
  text-align:center;
}

.copy{
  font-size:12px;
  opacity:0.7;
}
